/*
Sophie Stiekema,
10992499,
This file creates a scatter plot
*/

/* path {
        stroke: white;
        stroke-width: 1px;
        fill: #cbcbcb;
    }

    path.selected {
        fill: steelblue;
    } */
